.container {
}

header {
  height: 584px;
  background-color: #000;
}

footer {
  height: 330px;
  background-color: #000;
}

.footer-container {
  height: 260px;
  background: #111111;
}

.copyright-container {
  height: 60px;
}

.header-container {
  height: 60px;
  background: #000;
}

.sticky {
  height: 60px;
  background: #000;
}

.header-logo-and-control-container {
  height: 60px;
  width: 1200px;
  margin: auto;
}

.top-left-corner-logo {
  width: 171px;
  height: 60px;
  float: left;
}

nav {
  float: right;
}

header ul {
  height: 28px;
}

header ul li {
  display: inline-block;
  height: 28px;
  padding-top: 8px;
  margin-left: 28px;

  &:hover {
    border-top: 3px solid #e94c32;
  }
}

header ul li.active {
  border-top: 3px solid #e94c32;
}

header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.header-banner-container {
  background: asset-url("banner2.jpg", image) center no-repeat;
  height: 514px;
}

.gray-separator-line {
  background: #c2c2c2;
  height: 10px;
}

.header-intro {
  text-align: center;
  padding-top: 189px;
}

.product-h1 {
  font-size: 28px;
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
}

.header-intro p {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.content {
}

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-family: arial;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  color: #000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 20px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  background-color: red;
  display: table;
}

.gray-block {
  background: #ebebeb;
}

.white-block {
  background: #fff;
}

.product-intro-block  {
  height: 560px;
}

.product-intro-container {
  width: 652px;
  margin: auto;
  padding-top: 64px;
  text-align: center;
}

.product-intro-container h3 {
  font-size: 20px;
}

.product-intro-container p {
  font-size: 16px;
}

#human-bubbles {
  width: 324px;
  height: 219px;
  margin: 24px auto;
  background: asset-url("human-bubbles.png", image);
}

.product-features-container {
  width: 1200px;
  height: 440px;
  margin: auto;
  display: block;
  margin: 10px auto 0 auto;
}

.product-features-block {
  padding-top: 75px;
}

.product-features-block div.product-features {
  width: 546px;
  height: 109px;
  padding: 20px 18px;
  margin: 18px 0;
}

.product-features-block div h3 {
  font-size: 16px;
  margin: 0;
}

.product-features-block div p {
  font-size: 13px;
  line-height: 24px;
  margin: 12px 0 0 0;
}

.product-features-container1 {
  float: left;
}

.product-features-container2 {
  float: right;
}

.product-features-container3 {
  float: left;
}

.product-features-container4 {
  float: right;
}

.product-features-container h2 {
  text-align: center;
  font-size: 22px;
}

.orange-line {
  width: 100px;
  height: 3px;
  background: #e94c32;
  margin: auto;
}

h2 {
  text-align: center;
}

.request-demo-block {
  padding-top: 60px;
}

.request-demo-container {
  width: 749px;
  margin: 45px auto 0 auto;
  display: block;
  padding-bottom: 60px;
}

.submit_button {
  background: #e94c32;
  border: none;
  width: 749px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.bold_text {
  font-weight: bold;
}

.generic_input {
  width: 317px;
  font-size: 16px;
  padding: 17px 19px;
  border: 1px solid #c2c2c2;
  margin: 0;
}

.generic_label {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.left_side_form {
  float: left;
}

.right_side_form {
  float: right;
}

.text_area_with_product {
  width: 350px;
  height: 149px;
}

.text_area_without_product {
  width: 312px;
  height: 218px;
  font-size: 16px;
  padding: 17px 19px;
  border: 1px solid #c2c2c2;
  margin: 0;
}

.label_with_errors {
  font-size: 15px;
  margin-left: 5px;
  color: red;
}

.label_error_wrapper label {
  float: left;
}

.phone_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  letter-spacing: 2px;
}
.phone_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  letter-spacing: 2px;
}
.phone_input::-moz-placeholder { /* Mozilla Firefox 19+ */
  letter-spacing: 2px;
}
.phone_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  letter-spacing: 2px;
}
.phone_input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  letter-spacing: 2px;
}
