.container {
}

header {
  height: 584px;
  background-color: #000;
}

footer {
  height: 70px;
  background-color: #000;
}

.footer-container {
  height: 60px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.footer-phone {
  color: #e94c32;
  font-size: 20px;
  font-weight: bold;
  margin: auto 0 auto 0;
}

.footer-line {
  width: 1px;
  height: 28px;
  background-color: #a1a1a1;
  margin: auto 0 auto 30px;
}

.footer-email {
  color: #fff;
  font-size: 18px;
  margin: auto 0 auto 30px;
}

.footer-copyright {
  color: #fff;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.footer-email a {
  color: #fff;
}

.header-container {
  height: 60px;
  background: #000;
}

.sticky {
  height: 60px;
  background: #000;
}

.header-logo-and-control-container {
  height: 60px;
  width: 1200px;
  margin: auto;
}

.top-left-corner-logo {
  width: 171px;
  height: 60px;
  float: left;
}

nav {
  float: right;
}

header ul {
  height: 28px;
}

header ul li {
  display: inline-block;
  height: 28px;
  padding-top: 8px;
  margin-left: 28px;

  &:hover {
    border-top: 3px solid #e94c32;
  }
}

header ul li.active {
  border-top: 3px solid #e94c32;
}

header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.header-banner-container {
  background: asset-url("banner2.jpg", image) center no-repeat;
  height: 514px;
}

.gray-separator-line {
  background: #c2c2c2;
  height: 10px;
}

.header-intro {
  text-align: left;
  padding-top: 183px;
}

.product-block p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

span.orange {
  color: #e94c32;
}

.header-banner-block {
  width: 760px;
  margin: auto;
}

.header-banner-left {
  width: 184px;
  margin-top: 205px;
  float: left;
}

.header-banner-right {
  width: 500px;
  float: left;
  margin-left: 70px;
}



body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-family: arial;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  color: #000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 20px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  background-color: red;
  display: table;
}

.gray-block {
  background: #ebebeb;
}

.white-block {
  background: #fff;
}

.product-intro-block  {
  height: 560px;
}

.product-intro-container {
  width: 652px;
  margin: auto;
  padding-top: 64px;
  text-align: center;
}

.product-intro-container h3 {
  font-size: 20px;
}

.product-intro-container p {
  font-size: 16px;
}

#human-bubbles {
  width: 324px;
  height: 219px;
  margin: 24px auto;
  background: asset-url("human-bubbles.png", image);
}

.product-features-container {
  width: 1200px;
  height: 440px;
  margin: auto;
  display: block;
  margin: 10px auto 0 auto;
}

.product-features-block {
  padding-top: 75px;
}

.product-features-block div.product-features {
  width: 546px;
  height: 109px;
  padding: 20px 18px;
  margin: 18px 0;
}

.product-features-block div h3 {
  font-size: 16px;
  margin: 0;
}

.product-features-block div p {
  font-size: 13px;
  line-height: 24px;
  margin: 12px 0 0 0;
}

.product-features-container1 {
  float: left;
}

.product-features-container2 {
  float: right;
}

.product-features-container3 {
  float: left;
}

.product-features-container4 {
  float: right;
}

.product-features-container h2 {
  text-align: center;
  font-size: 22px;
}

.orange-line {
  width: 100px;
  height: 3px;
  background: #e94c32;
  margin: auto;
}

h2 {
  text-align: center;
}

.request-demo-block {
  padding-top: 60px;
}

.request-demo-container {
  width: 749px;
  margin: 45px auto 0 auto;
  display: block;
}

.submit_button {
  background: #e94c32;
  border: none;
  width: 749px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.bold_text {
  font-weight: bold;
}

.generic_input {
  width: 317px;
  font-size: 16px;
  padding: 17px 19px;
  border: 1px solid #c2c2c2;
  margin: 0;
}

.generic_label {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.left_side_form {
  float: left;
}

.right_side_form {
  float: right;
}

.text_area_with_product {
  width: 350px;
  height: 149px;
}

.text_area_without_product {
  width: 312px;
  height: 218px;
  font-size: 16px;
  padding: 17px 19px;
  border: 1px solid #c2c2c2;
  margin: 0;
}

.label_with_errors {
  font-size: 15px;
  margin-left: 5px;
  color: red;
}

.label_error_wrapper label {
  float: left;
}

.or_just_call_us container {
  text-align: center;
  padding-bottom: 60px;
}

.or_just_call {
  text-align: center;
  padding-bottom: 60px;
}

.ojc_text {
  font-size: 18px;
  color: #000;
}

.ojc_phone {
  font-size: 18px;
  font-weight: bold;
  color: #e94c32;
}

.phone_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  letter-spacing: 2px;
}
.phone_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  letter-spacing: 2px;
}
.phone_input::-moz-placeholder { /* Mozilla Firefox 19+ */
  letter-spacing: 2px;
}
.phone_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  letter-spacing: 2px;
}
.phone_input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  letter-spacing: 2px;
}

.contact_endpoints_container {
  height: 240px;
  text-align: center;
}

.phone_contacts {
  font-size: 26px;
  font-weight: bold;
  color: #e94c32;
  padding-top: 74px;
  padding-bottom: 30px;
}

.email_contacts {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.email_contacts a {
  color: #000;
}

.contact_form_container {
  height: 556px;
  margin: 60px auto 0 auto;
  width: 749px;
}

.pricing_block {
  width: 749px;
  height: 284px;
  position: absolute;
  left: 0;
  margin: -70px auto 0 auto;
  right: 0;
}

.pricing_container {
  height: 294px;
}

.pricing_headers {
  height: 60px;
  width: 749px;
}

.pricing_headers div {
  float: left;
  height: 20px;
  width: 209px;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #2e2e2e;
  opacity: 0.9;
}

.advanced_pricing {
  margin-left: 1px;
  margin-right: 1px;
}

.sticker {
  z-index: 4;
}

.pricing_body {
  width: 749px;
  height: 182px;
  background-color: #fff;
  text-align: center;
}

.pricing_body div.pricing_body_element {
  padding-top: 20px;
  height: 161px;
  width: 248px;
  float: left;
  border-top: 1px solid #c2c2c2;
}

.pricing_body div.body_advanced {
  width: 249px;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.pricing_body div.body_standard {
  border-left: 1px solid #c2c2c2;
}

.pricing_body div.body_enterprice {
  border-right: 1px solid #c2c2c2;
}

.pricing_body_element div.orange-line {
  margin-top: 5px;
  margin-bottom: 26px;
}

.price .dollar {
  font-size: 20px;
  font-weight: bold;
}

.price .amount {
  font-size: 36px;
  font-weight: bold;
}

.price .monthly {
  font-size: 15px;
  font-weight: bold;
}

.dotted {
  border-bottom: 1px dotted #545454;
}

.price_call_for_pricing {
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

.pricing_action {
  width: 749px;
  height: 45px;
}

.pricing_action div {
  width: 249px;
  height: 31px;
  float: left;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 14px;
}

.pricing_action div.standard_button {
  background-color: #2980b9;
  &:hover {
    background-color: #216998;
  }
}

.pricing_action div.advanced_button {
  background-color: #27ae60;
  margin-left: 1px;
  margin-right: 1px;
  &:hover {
    background-color: #20904f;
  }
}

.pricing_action div.enterprice_button {
  background-color: #e94c32;
  &:hover {
    background-color: #c6412b;
  }
}

.pricing_form_container {
  padding: 50px 0;
}